/*how many items yet to sell, number should be red*/
#stock {
    font-style: normal;
    color: darkred;
  }

/*target amount to reach when sold out, number should be blue*/
#target {
    font-style: normal;
    color: dodgerblue;
}

/*adding euro sign after number*/
#target:after {
    content: '\20AC';
}

/*current amount sold, number should be green*/
#sold {
    font-style: normal;
    color: forestgreen;
}

/*adding euro sign after number*/
#sold:after {
    content: '\20AC';
}

/*highlighting two types, in box*/
.spotLights {
    flex: content-box;
    width: 280px;
    height: fit-content;
    background-color: orange;
    font-style: normal; color: orangered;
    font-size: 22px;
    margin: 10px;
    padding: 20px;
    /*justify-content: center;*/
    /*align-items: center;*/
}



