/*by using border-box, the padding is included in the width */
* {
    box-sizing: border-box;
}

/*background color*/
body {
    background-color: yellow;
}

/*the main title of the site*/
h1 {
    margin: 10px;
    font-family: "Bauhaus 93";
    color: deeppink;
    font-style: italic;
    display: flex;
    align-items: center;
}

/*all headlines but the title are h3*/
h3 {
    margin: 10px;
    font-family: "Lucida Sans Typewriter";
    color: deeppink;
}

/*the three counters at the top of the site are
in a container called counters*/
.counters {
    flex: content-box;
    color: lightyellow;
    font-size: 24px;
    font-family: "Lucida Sans Typewriter";
    margin: 10px;
}

/*how many items yet to sell, number should be red*/
#stock {
    color: red;
  }

/*target amount to reach when sold out, number should be blue*/
#target {
    color: dodgerblue;
}

/*adding euro sign after number*/
#target:after {
    content: '€';
}

/*current amount sold, number should be green*/
#sold {
    color: forestgreen;
}

/*adding euro sign after number*/
#sold:after {
    content: '€';
}

/*creating a default block for size and positioning*/
.block {
    flex: content-box;
    width: 300px;
    height: fit-content;
    background-color: dimgrey;
    color: black;
    margin: 10px;
    padding: 20px;
    font-size: 14px;
}
/*highlighting two types, in box*/
.spotLights {
    background-color: orange;
    color: saddlebrown;
    font-weight: bold;
}

/*highlighting one product, in box (randomly chosen)*/
.items {
    background-color: deeppink;
    color: purple;
    font-weight: bold;
}

/*container for buttons to adjust positioning*/
.container {
    margin: 10px;
    width: 300px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-evenly;
}

/*all buttons have class name button*/
.button {
    padding: 10px;
    border-radius: 15px;
}

#LowToHigh-button {
    background-color: deeppink;
    border: deeppink;
}

#ambiLight-button {
    background-color: darkturquoise;
    border: darkturquoise;
}

#soldOut-button {
    background-color: mediumpurple;
    border: mediumpurple;
}



